In [73]:
# import pydytuesday

In [74]:
# pydytuesday.get_date('2025-12-16')

In [75]:
import pandas as pd

df = pd.read_csv('roundabouts_clean.csv')

In [76]:
df.describe()

                lat          long  year_completed    approaches     driveways
count  27887.000000  27887.000000    27887.000000  27887.000000  27887.000000
mean     -18.881912     29.992747      830.912647      3.683795      0.070033
std       90.848933     30.458616      990.442437      0.674951      0.484880
min     -170.722950    -53.134770        0.000000      0.000000      0.000000
25%      -88.088321     30.413235        0.000000      3.000000      0.000000
50%      -71.464080     39.972380        0.000000      4.000000      0.000000
75%       17.916280     48.485851     2010.000000      4.000000      0.000000
max      178.465210     70.982060     2023.000000     12.000000     19.000000

In [77]:
categoricals = df.dtypes == 'object'
df.loc[:, categoricals].describe()

,name,address,town_city,county_area,state_region,country,type,status,lane_type,functional_class,control_type,other_control_type,previous_control_type
count,27887,27887,27885,27796,26472,27887,27887,27887,27887,27887,27887,10515,27887
unique,27612,9166,7845,2954,580,119,6,3,9,3,7,11,8
top,(unknown) / (unknown),"Auckland, Auckland, Auckland (New Zealand)",(unincorporated),Hamilton Co.,FL,United States,Roundabout,Existing,Single-Lane,Other (At-Grade),All-Way Yield,Unknown,Unknown
freq,76,201,283,312,1455,12952,23141,27759,18288,25655,23909,10220,17958

In [78]:
akld = df[df.state_region.fillna('').str.contains('Auckland')]
akld.describe()

              lat        long  year_completed  approaches   driveways
count  261.000000  261.000000           261.0  261.000000  261.000000
mean   174.770838  -36.850261             0.0    3.685824    0.107280
std      0.116433    0.156238             0.0    0.527102    0.387279
min    174.441430  -37.247960             0.0    2.000000    0.000000
25%    174.679280  -36.950330             0.0    3.000000    0.000000
50%    174.751990  -36.873950             0.0    4.000000    0.000000
75%    174.878600  -36.751210             0.0    4.000000    0.000000
max    175.037680  -36.296370             0.0    5.000000    3.000000

In [79]:
df.loc[df.name.str.contains('Place Charles de Gaulle'),'control_type'] = 'All-Way Yield'
df.loc[df.name.str.contains('Place de la Nation'), 'control_type'] = 'All-Way Yield'
df.loc[df.name.str.contains('Place de la Nation'), 'lane_type'] = '3+ Lanes'
df.loc[df.name.str.contains('Metropolitan Plaza'), 'name'] = 'South Alandele Circle'
df.loc[df.name.str.contains('Dupont Circle'), 'name'] = 'Dupont Circle'

In [80]:
akld.loc[:, categoricals].describe()

,name,address,town_city,county_area,state_region,country,type,status,lane_type,functional_class,control_type,other_control_type,previous_control_type
count,261,261,261,261,261,261,261,261,261,261,261,21,261
unique,261,30,29,3,1,1,2,1,5,3,1,3,2
top,Albert Rd. / Lake Rd.,"Auckland, Auckland, Auckland (New Zealand)",Auckland,Auckland,Auckland,New Zealand,Roundabout,Existing,Single-Lane,Other (At-Grade),All-Way Yield,Unknown,Unknown
freq,1,201,202,259,261,261,260,261,193,243,261,17,260

In [81]:
akld[['lane_type']].groupby('lane_type').value_counts()

lane_type
Multilane (2 Lane, unspecified)                        54
Multilane (2+ lanes) w/ Traversable Central Island      1
Multilane (3+ Lane)                                     1
Single-Lane                                           193
Single-lane w/ Traversable Central Island              12
Name: count, dtype: int64

In [82]:
akld[['approaches']].groupby('approaches').value_counts()

approaches
2      2
3     84
4    169
5      6
Name: count, dtype: int64

In [83]:
akld[['functional_class']].groupby('functional_class').value_counts()

functional_class
Freeway Ramps (Grade-Separated)     17
Other (At-Grade)                   243
Unknown                              1
Name: count, dtype: int64

In [84]:
akld[['other_control_type']].groupby('other_control_type').value_counts()

other_control_type
Metering Signal     3
Other               1
Unknown            17
Name: count, dtype: int64

In [85]:
akld[['previous_control_type']].groupby('previous_control_type').value_counts()

previous_control_type
None (new)      1
Unknown       260
Name: count, dtype: int64

In [86]:
akld[akld.approaches >= 5]

,name,address,town_city,county_area,state_region,country,lat,long,type,status,year_completed,approaches,driveways,lane_type,functional_class,control_type,other_control_type,previous_control_type
12408,Great South Rd. / Walters Rd. / Longford Park ...,"Takanini, Auckland, Auckland (New Zealand)",Takanini,Auckland,Auckland,New Zealand,174.92873,-37.05017,Roundabout,Existing,0,5,0,"Multilane (2 Lane, unspecified)",Other (At-Grade),All-Way Yield,NaN,Unknown
12701,Roscommon Rd. / Weymouth Rd. / Mahia Rd. / Pal...,"Auckland, Auckland, Auckland (New Zealand)",Auckland,Auckland,Auckland,New Zealand,174.87003,-37.03356,Rotary,Existing,0,5,0,Single-Lane,Other (At-Grade),All-Way Yield,NaN,Unknown
12988,Third View Ave. / Shelly Bay Rd. / Blakewell Pl.,"Beachlands, Auckland, Auckland (New Zealand)",Beachlands,Auckland,Auckland,New Zealand,175.00553,-36.88099,Roundabout,Existing,0,5,0,Single-Lane,Other (At-Grade),All-Way Yield,NaN,Unknown
14373,Blockhouse Bay Rd. / Donovan St. / Kinross St....,"Auckland, Auckland, Auckland (New Zealand)",Auckland,Auckland,Auckland,New Zealand,174.70151,-36.92276,Roundabout,Existing,0,5,0,"Multilane (2 Lane, unspecified)",Other (At-Grade),All-Way Yield,NaN,Unknown
14488,Mount Smart Rd. / Mount Albert Rd. / Manukau R...,"Auckland, Auckland, Auckland (New Zealand)",Auckland,Auckland,Auckland,New Zealand,174.77618,-36.91199,Roundabout,Existing,0,5,0,"Multilane (2 Lane, unspecified)",Other (At-Grade),All-Way Yield,NaN,Unknown
16870,Titirangi Rd. / Scenic Dr. / Atkinson Rd. / Ko...,"Auckland, Auckland, Auckland (New Zealand)",Auckland,Auckland,Auckland,New Zealand,174.65411,-36.93829,Roundabout,Existing,0,5,0,"Multilane (2 Lane, unspecified)",Other (At-Grade),All-Way Yield,NaN,Unknown

In [87]:
import pickle

with open('akld.pickle', 'wb') as f:
    pickle.dump(akld[akld.approaches >= 5], f)

In [88]:
world = df[df.approaches >= 5].sort_values('approaches', ascending=False).iloc[[0,2,3,4,7,8],:]

with open('world.pickle', 'wb') as f:
    pickle.dump(world, f)

In [89]:
nz =  df[df.country.str.contains('New Zealand') & (df.approaches > 5)]

with open('nz.pickle','wb') as f:
    pickle.dump(nz, f)

In [90]:
df.control_type.unique()

array(['One-Way/Two-Way Stop', 'Unknown', 'All-Way Yield', 'Other',
       'All-Way Stop', 'Uncontrolled', 'Signal'], dtype=object)